<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    
    <error-page>
        <error-code>403</error-code>
        <location>/errors/access.xhtml</location>
    </error-page>
    
    <error-page>
        <location>/errors/error.xhtml</location>
    </error-page>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Content</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Seller Content</web-resource-name>
            <url-pattern>/seller/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>SELLER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Buyer Content</web-resource-name>
            <url-pattern>/buyer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>BUYER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
    
</web-app>
